# Dependencies
node_modules/
__pycache__/
*.pyc

# Environment variables
.env

# Dataset (Too large for GitHub)
dr_unified_v2/
# *.h5 (Handled by LFS)

# Editor
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
